@import 'settings';

// FONTS
@include font-face('FedraSansProBold', FedraSansProBold);
@include font-face('FedraSansProBookItalic', FedraSansProBookItalic);
@include font-face('FedraSansProLight', FedraSansProLight);
@include font-face('FedraSansProLightItalic', FedraSansProLightItalic);
@include font-face('FedraSansProMedium', FedraSansProMedium);
@include font-face('FedraSansProMediumItalic', FedraSansProMediumItalic);
@include font-face('FedraSansProNormal', FedraSansProNormal);
@include font-face('GothamProBold', GothamProBold);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

// VARIABLES
$FSP-Bold: 'FedraSansProBold', sans-serif;
$FSP-BookItalic: 'FedraSansProBookItalic', sans-serif;
$FSP-Light: 'FedraSansProLight', sans-serif;
$FSP-LightItalic: 'FedraSansProLightItalic', sans-serif;
$FSP-Medium: 'FedraSansProMedium', sans-serif;
$FSP-MediumItalic: 'FedraSansProMediumItalic', sans-serif;
$FSP-Normal: 'FedraSansProNormal', sans-serif;
$GP-Bold: 'GothamProBold', sans-serif;
$OpenSans: 'Open Sans', sans-serif;